.gallery-slide-img {
  filter: grayscale(1);
  transition: filter 0.5s;
}
.slick-center .gallery-slide-img {
  filter: grayscale(0);
}

/* Only on mobile: make the active slide color */
@media (max-width: 640px) {
  .slick-slide.slick-active .gallery-slide-img {
    filter: grayscale(0);
  }
}